body{
    background: linear-gradient(
        135deg,
        #eef6ff 0%,
        #f8fbff 100%
    );
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
}

.main-title{
    font-size: 3.2rem;
    font-weight: 800;
    color: #0f172a;
    margin-bottom: 10px;
}

.subtitle{
    color: gray;
    font-size: 18px;
}

.queue-card{
    border: none;
    border-radius: 30px;
    background: linear-gradient(
        135deg,
        #2563eb,
        #3b82f6
    );
    color: white;

    box-shadow:
        0 20px 40px rgba(37,99,235,.25);
}

.queue-number{
    font-size: 7rem;
    font-weight: 900;
    letter-spacing: 4px;
    line-height: 1;
}

.card{
    border: none;
    border-radius: 20px;
}

.form-control{
    border-radius: 15px;
    padding: 16px;
    border: 2px solid #e2e8f0;
}

.form-control:focus{
    border-color: #3b82f6;
    box-shadow:
        0 0 0 4px rgba(59,130,246,.15);
}

.btn{
    border-radius: 12px;
    padding: 12px;
    font-weight: bold;
    transition: all .3s ease;
}

.btn:hover{
    transform: translateY(-2px);
}

.table{
    border-radius: 20px;
    overflow: hidden;
}

.input-group-text{
    border-radius:15px 0 0 15px;
    background:#f8fafc;
    border:2px solid #e2e8f0;
    border-right:none;
}

.input-group .form-control{
    border-radius:0 15px 15px 0;
}

.form-label{
    color:#334155;
    margin-bottom:8px;
}